<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImprimirDolce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ImprimirDolce.Properties.Settings.conexion_dbDolce"
            connectionString="Data Source=GOTEN\ERPDOLCE;Initial Catalog=dbDolce;Persist Security Info=True;User ID=sa;Password=T3p0t3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <ImprimirDolce.Properties.Settings>
            <setting name="Ruta_Pdf" serializeAs="String">
                <value>D:\Intranet3\Archivos\</value>
            </setting>
        </ImprimirDolce.Properties.Settings>
    </applicationSettings>
</configuration>
